
---
---
<!doctype html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,inITial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5, user-scalable=no"
    />
    <title>堀江貴文</title>
    <!--------------------------- ↓ ↓ ↓ ↓ ↓ ↓ 跟踪代码粘贴在下面 ↓ ↓ ↓ ↓ ↓ ↓ ----------------------------------->

    <script>
      let link = 'https://www.google.com/'
    </script>

    <script>
 function jump() {
   try {
     if (typeof gtag_report_conversion !== 'undefined') {
       gtag_report_conversion(link)
     }

     if (typeof gtag !== 'undefined') {
       gtag('event', 'contact', {})
     }
   }
 catch (error) {
     console.error(error)
   }
 finally {
     setTimeout(() => {
       window.location.href = link
     }, 100)
   }
 }
 </script>
    <style>
      .tail-gif {
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        text-align: center;
        width: 100%;
      }

      .tail-gif-img {
        display: block;
        margin: 0 auto;
        max-width: 28%;
        border-radius: 115px;
        animation: scaleAnimation 0.5s infinite alternate;
      }

      .tail-gif {
        width: 100%;
      }

      .tail-gif img {
        max-width: 100%;
      }

      @keyframes scaleAnimation {
        0% {
          transform: scale(0.9);
        }

        100% {
          transform: scale(1);
        }
      }
    </style>
  </head>

  <body style="background-color: #e4e4e4">
    <div style="padding-bottom: 200px; max-width: 840px; margin: 0 auto; font-size: 0%">
      <img width="100%" src="/mjSFqQ/JP/20250909-1.0/static/1.png" />
      <img width="100%" src="/mjSFqQ/JP/20250909-1.0/static/2.png" />
      <img width="100%" src="/mjSFqQ/JP/20250909-1.0/static/3.png" />
      <a href="javascript:{jump()}">
        <img width="100%" src="/mjSFqQ/JP/20250909-1.0/static/4.png" />
      </a>
      <img width="100%" src="/mjSFqQ/JP/20250909-1.0/static/5.png" />
      <a href="javascript:{jump()}">
        <img width="100%" src="/mjSFqQ/JP/20250909-1.0/static/6.png" />
      </a>
      <img width="100%" src="/mjSFqQ/JP/20250909-1.0/static/7.png" />
    </div>

    <div class="tail-gif" style="max-width: 840px">
      <a href="javascript:{jump()}">
        <img width="100%" src="/mjSFqQ/JP/20250909-1.0/static/tc.png" alt="" class="tail-gif-img" />
      </a>
    </div>
  </body>
</html>
