@import url('css2.css');

body {
    font-family: "Poppins", sans-serif !important;
    font-style: normal;
    overflow-x: hidden;
    color: #000;
    background-color: #fefefe;
    font-weight: 300;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6,
p,
span,
b,
ul,
li,
div,input {
    font-family: "Poppins", sans-serif !important;
}

aside.widget-area {
    display: none;
}

.site a:focus:not(.wp-block-button__link):not(.wp-block-file__button) img {
    outline: none;
}

input:focus,
textarea:focus {
    outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a:focus,
img:focus {
    outline: none !important;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
}

:root {
    --black-color: #000;
    --orange-color: #f37c0a;
}

a {
    text-decoration: none !important;
    font-family: "Poppins", sans-serif !important;

}

img {
    max-width: 100%;
}

section {
    margin: 0;
}

.site-main {
    padding: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}
.site-header ul li.current-menu-item a {
    color: var(--orange-color) !important;
    text-decoration: underline !important;
}
.site-header .jsb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header .site-branding {
    display: none;
}

.site-header {
    padding: 25px 0;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    max-width: 100%;
}

.site-header ul li a {
    font-size: 20px;
    color: var(--black-color) !important;
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    transition: ease-in all 0.2s;
    padding: 0 !important;
}
.site-header ul {
    gap: 50px;
}
.site-header .primary-menu-container {
    margin: 0 !important;
}
.site-header ul li a:hover {
    color: var(--orange-color) !important;
}

.site-header ul li a:focus,footer .ft-row a:focus {
    background: transparent !important;
}


.active-header .site-header {
    background: #fff;
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px rgb(0 0 0 / 19%);
    z-index: 1000;
    width: 100% !important;
    display: inherit;
    min-width: 100%;
    max-width: 100%;
    padding: 10px 0;
}

.active-header .site-header .custom-logo {
    width: 165px !important;
    min-height: 42px !important;
}
.site-logo .custom-logo {
    width: 142px !important;
    min-height: 142px !important;
}
.active-header .site-header ul li a {
    font-size: 16px;
    transition: ease-in all 0.2s;
}

/* timer css  */
.countdown.callback div span {
    display: flex;
    font-size: 13px;
    line-height: 13px;
    color: #000;
    font-weight: 400;
    justify-content: center;
    text-align: center;
    padding-top: 8px;
    text-transform: uppercase;
}

.countdown.callback {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 30px;
    align-items: center;
    text-align: center;
}

.countdown.callback>div {
    font-size: 48px;
    color: var(--orange-color);
    font-weight: bold;
    line-height: 48px;
    width: 80px;
}

.countdown.callback div~p {
    display: none;
}

/* timer css  */
.hero-sec {
    background: url("../image/hero-bg.png");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 260px 0 0px;
    min-height: 900px;

}
.hero-sec .text-sec .prgr span.prgr.four {
    color: #000;
}
.hero-sec .text-sec .prgr.third {
    font-weight: 700;
    color: #000;
}
.hero-sec.confirm-page .text-sec .prgr.third{font-weight:400;}
.hero-sec .heading {
    font-size: 60px;
    color: var(--black-color);
    line-height: 66px;
    font-weight: bold;
    padding: 0 0 20px;
}

.hero-sec .hero-inner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 64px;
    align-items: end;
}
.hero-sec.confirm-page .hero-inner{
    grid-template-columns: 1fr;
    text-align: center;
}

.hero-sec .text-sec .prgr.c-h3 {
    font-size: 30px;
    line-height: 44px;
  }

.hero-sec .heading span,
.hero-sec .text-sec .prgr span {
    color: var(--orange-color);
}

.hero-sec .text-sec .prgr {
    font-size: 20px;
    font-weight: 500;
    padding: 0px 0 12px;
    columns: var(--black-color);
    line-height: 30px;
}

.hero-sec .timer-sec {
    background: #ffffffe6;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 10%);
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-sec .timer-sec h2 {
    font-size: 30px;
    color: var(--black-color);
    font-weight: bold;
    text-align: center;
    line-height: 40px;
}

.hero-sec .join-whatsap {
    padding: 90px 0 0;
}

.hero-sec .timer-sec h2 span {
    font-size: 36px;
    color: var(--orange-color);
    font-weight: bold;
}

.hero-sec .text-sec .prgr.sec span {
    font-weight: bold;
}

/*.join-whatsap .what-sec a {
    background: #ffffffe0;
    border-radius: 150px;
    border: solid 15px rgb(255 255 255);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 14px;
    max-width: 552px;
    margin: 0 auto 0;
    box-shadow: 0 1px 7px #fff, 0 0px 12px #6666668c, inset 0 0px 25px rgba(255, 255, 255, 14%), inset 0 0px 16px rgb(0 0 0 / 7%);
}*/
.waiting-sec .join-whatsap .what-sec a:focus,.join-whatsap .what-sec a:focus {
    background: transparent !important;
}
.join-whatsap .what-sec a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin: 0 auto 0;
}

.join-whatsap .what-sec a h3 {
    font-size: 39px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 41px;
    text-align: center;
}

.join-whatsap .what-sec a h3 .wht-color {
    color: #248107;
}

.whatch-sec .grid-vd {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.whatch-sec {
    background: linear-gradient(to left, #19123c 50%, #000000 50%);
    margin: 100px 0 0;
}

.whatch-sec .left-sec {
    padding: 97px 60px 95px 0px;
}

.whatch-sec .right-sec {
    padding: 97px 0px 95px 50px;
}

.whatch-sec .left-sec h3 {
    color: #fff;
    font-size: 44px;
    line-height: 54px;
    font-weight: bold;
}

.whatch-sec .left-sec video {
    height: 390px;
    width: 100%;
    object-fit: cover;
}

.whatch-sec .left-sec .video-sec {
    padding-top: 40px;
    position: relative;
}

.whatch-sec .left-sec .video-sec a {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.whatch-sec .left-sec .video-sec a:focus {
    background: transparent !important;
}

.whatch-sec .right-sec .content-box {
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 10%);
    border-radius: 15px;
    padding: 14px 17px;
    margin-bottom: 20px;
    display: flex;
    align-items: start;
    gap: 15px;
}

.whatch-sec .right-sec .content-box .inner-box {
    font-size: 20px;
    color: var(--black-color);
    font-weight: 600;
    line-height: 32px;

}

.whatch-sec .right-sec .content-box img {
    min-width: 24px;
    width: 24px;
    height: 24px;
}

.whatch-sec .right-sec .content-box .inner-box span,
.whatch-sec .right-sec .content-box .inner-box a {
    color: var(--orange-color);
}

.timer-sec ul {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
}

.timer-sec li {
    display: flex;
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    font-size: 13px;
    color: #000;
    font-weight: 400;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.timer-sec li span {
    display: block;
    font-size: 48px;
    font-weight: bold;
    color: var(--orange-color);
    line-height: 48px;
}

.timer-sec .emoji {
    display: none;
    padding: 1rem;
}



.how-work {
    background: linear-gradient(to left, #19123c 50%, #f5f5f5 50%);
}


.how-work .grid-work {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.how-work .grid-work h3 {
    font-size: 44px;
    font-weight: bold;
    color: #000;
}

.how-work .grid-work .left-work {
    padding: 97px 109px 95px 0px;
}

.how-work .left-work h3 {
    padding: 0 0 50px;
}

.how-work .grid-work .right-work {
    padding: 97px 0px 95px 50px;
}

.how-work .row-ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0;
    margin-bottom: 50px;
    position: relative;
    align-items: center;
}

.how-work .row-ul .list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.how-work .row-ul .list p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding: 20px 0 0;
    text-align: center;
}

.how-work .row-ul .list.th {
    width: 40%;
}

.how-work .row-ul .list.sc {
    width: 20%;
    position: relative;
    top: -30px;
}

.how-work .row-ul .list.fr {
    width: 40%;
}

.how-work .icon-img {
    position: relative;
}

.how-work .icon-img .nm-count {
    position: absolute;
    top: -21px;
    background-color: #19123c;
    height: 42px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    border-radius: 100%;
    left: 36px;
}

.how-work .icon-img img {
    width: 154px;
    height: auto;
}

.how-work .right-work h3 {
    color: #fff;
    line-height: 54px;
}

.how-work .market-img {
    padding: 40px 0;
}

.how-work .right-work h4 {
    color: #fff;
    font-size: 34px;
    padding: 0 0 30px;
}

.how-work .box-stock-row .box-inner {
    background: var(--black-color);
    padding: 2px;
    text-align: center;
}

.how-work .box-stock-row .box-hd {
    background: #fff;
    font-size: 28px;
    font-weight: bold;
    color: var(--orange-color);
    padding: 8px;
}

.how-work .box-stock-row .box-hd p {
    font-weight: 500;
    font-size: 14px;
    color: #000;
}

.how-work .box-stock-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
    position: relative;
}

.how-work .box-stock-row .box-inner .box-ft h5 {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    padding: 4px;
    text-align: center;
}

.how-work .box-stock-row .box-inner .box-ft h5 i {
    color: var(--orange-color);
    margin-right: 3px;
    font-size: 18px;
}


.leading-sec {
    background: linear-gradient(to left, #f5f5f5 50%, #000000 50%);
}

.leading-sec .grid-leading {
    display: flex;
    flex-wrap: wrap;
}

.leading-sec .left-leading {
    padding: 100px 83px 100px 0px;
    width: 50%;
}

.leading-sec .right-leading {
    padding: 97px 0px 95px 50px;
    width: 50%;

}

.leading-sec .grid-leading .left-leading h3 {
    font-size: 44px;
    color: #fff;
    font-weight: bold;
    line-height: 50px;
}

.leading-sec .grid-leading .left-leading h3 span {
    font-size: 42px;
    color: var(--orange-color);
}

.leading-sec .grid-leading .left-leading .number-sp {
    font-size: 140px;
    color: #fff;
    font-weight: bold;
    line-height: 170px;
    padding: 30px 0;
}

.leading-sec .grid-leading .left-leading .number-sp span {
    color: var(--orange-color);
}

.leading-sec .grid-leading .left-leading .bg-sp {
    background-color: #19123c;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-weight: 500;
    line-height: 25px;
}

.leading-sec .right-leading h3 {
    font-size: 43px;
    font-weight: bold;
    color: #000;
}

.leading-sec .row-review-img {
    padding: 0 0 25px;
}

/* slider  */
.client-slider img {
    height: 120px !important;
    object-fit: cover;
}

.client-slider {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    border-bottom: solid 4px var(--orange-color);
    margin: 40px 0;
}

.client-slider .swiper-pagination {
    display: none;
}

.client-slider .swiper-arrow.swiper-button-next.next-0,
.client-slider .swiper-arrow.swiper-button-prev.prev-0 {
    background: transparent;
    font-family: 'FontAwesome' !important;
    color: #000;
}
.client-slider .swiper-arrow.swiper-button-next.next-0{
    left: 20px;
}
.client-slider .swiper-arrow.swiper-button-next:after {
    content: "\f053" !important;
    position: absolute;
    font-size: 30px;

    z-index: 1000;
    color: #000;
    font-family: 'FontAwesome' !important;
}

.client-slider .swiper-arrow.swiper-button-prev:after {
    content: "\f054" !important;
    position: absolute;
    font-size: 30px;
    z-index: 1000;
    color: #000;
    font-family: 'FontAwesome' !important;
}

.client-slider .carousel-wrapper {
    position: relative;
}

.client-slider .item-content-wrapper {
    background: transparent !important;
    padding: 20px 40px 40px !important;
}

.client-slider .item-content-wrapper:before {
    display: none !important;
}

.client-slider .author-name {
    margin: 0 !important;
    font-size: 20px !important;
    font-family: "poppins";
    color: #000;
}

.client-slider .item-content-wrapper .item-content {
    font-size: 16px !important;
    font-style: normal !important;
    text-align: center;
    line-height: 26px !important;
    font-weight: 400;
}

.client-slider .single-item-wrapper {
    display: flex;
    flex-direction: column;
}

.client-slider .single-item-wrapper .author-name {
    order: 2;
    font-size: 16px !important;
    color: #000 !important;
    padding: 0 0 22px !important;
}

.client-slider .tss-carousel.swiper-autoheight[data-dots='true'] .swiper-wrapper {
    margin: 0;
}

.gaurantee {
    background-color: #19123c;
    padding: 100px 0;
}

.gaurantee h3 {
    font-size: 44px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 0 0 50px;
}
.gaurantee .content-box {
    padding: 13px 15px;
    display: flex;
    border-radius: 10px;
}

.gaurantee .grid-gaurantee {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    justify-content: center;
}
.gaurantee .inner-box a{
    color: var(--orange-color);
}
.gaurantee .gr-inner-box {
    width: calc(50% - 20px);
    background: #fff;
    border-radius: 10px;
}

.gaurantee .inner-box {
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.gaurantee .content-box img {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.waiting-sec .countdown.callback {
    max-width: 620px;
    margin: 0 auto;
}

.waiting-sec {
    background: url(../image/hero-bg.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0 60px;
    background-position: 50% 160%;
}

.waiting-sec h3 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #000;
    padding: 0 0 68px;
}

.waiting-sec .timer-sec ul {
    padding: 10px 0 0px;
    display: flex;
    justify-content: space-between;
}

.waiting-sec .timer-sec li {
    display: flex;
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    font-size: 25px;
    color: #000;
    font-weight: 400;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waiting-sec .timer-sec li span {
    display: block;
    font-size: 96px;
    font-weight: bold;
    color: var(--orange-color);
    line-height: 96px;
}

.waiting-sec .timer-sec .emoji {
    display: none;
    padding: 1rem;
}

.waiting-sec .sub-heading-box {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    background: #000;
    max-width: 720px;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    top: -29px;
    text-align: center;
}

.waiting-sec .grid-waiting {
    background: #ffffffe6;
    padding: 0 30px 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 10%);
    border-radius: 20px;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.waiting-sec .count-ft-box {
    max-width: 620px;
    margin: 0 auto;
    text-align: center;
}

.waiting-sec .join-whatsap .what-sec a {
    margin: 0 auto;
}

.waiting-sec .join-whatsap .what-sec a h3 {
    padding: 0;
}

.waiting-sec .join-whatsap {
    padding: 50px 0 0;
}

/* timer css  */
.waiting-sec .countdown.callback div span {
    display: flex;
    font-size: 25px;
    line-height: 25px;
    color: #000;
    font-weight: 400;
    justify-content: center;
    text-align: center;
    padding-top: 8px;
    text-transform: uppercase;
}

.waiting-sec .countdown.callback {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0;
    align-items: center;
    text-align: center;
}

.waiting-sec .countdown.callback>div {
    font-size: 94px;
    color: var(--orange-color);
    font-weight: bold;
    line-height: 94px;
    width: 130px;
}

/* timer css  */
footer {
    background: url("../picture/ft-bg.jpg") repeat-x;
    padding: 46px 0;
}
footer .footer-navigation.nav-ft {
    margin: 0;
    padding: 0;
    width: auto;
}
footer .ft-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .nav-ft ul {
    display: flex;
    gap: 40px;
}

footer .nav-ft ul {
    padding: 0;
}

footer .nav-ft ul li,
.social-ft ul li {
    list-style: none;
}

footer .nav-ft ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    transition: ease-in all 0.2s;
    text-transform: uppercase;
}

footer .social-ft ul {
    display: flex;
    gap: 20px;
}

footer .social-ft ul li a {
    color: #fff !important;
    font-size: 20px;
    transition: ease-in all 0.2s;
}
footer .nav-ft ul li a:focus,footer .social-ft ul li a:focus,.copy-rt a:focus{
    background: transparent !important;
}
.copy-rt a {
    color: #fff;
}
footer .nav-ft ul li a:hover,
footer .social-ft ul li a:hover {
    color: var(--orange-color);
}

.copy-rt {
    background-color: #19123c;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding: 15px 0;
}

/*pages css*/
.page-template-default .site-header {
    background: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 19%);
    z-index: 1000;
    width: 100% !important;
    display: inherit;
    min-width: 100%;
    max-width: 100%;
    padding: 10px 0;
}
body.page-template-default .site-content{

}
.page-template-default.site-main .site-main{
    padding-top: 0;
}
.page-template-default .entry-content .entry-content{
    margin: 0;
}
.page-template-default.active-header .inner-pages {
    padding-top: 82px !important;
}
.page-template-default .entry-header{
    display: none;
}
.page-template-default.entry-header {
    margin: 0;
    border: 0;
}

.inner-banner-top {
    padding-top: 175px !important;
    min-height: 400px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: #000000d0;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-banner-top h1 {
    font-size: 60px;
    color: #fff;
    font-weight: 500;
    text-align: center;
}
.inner-banner-top h1 span {
    color: var(--orange-color);
}
/*COMMON CSS HEADER*/
.company-story {
   padding-top: 100px !important;
   padding-bottom: 100px;
}
.ab-lead {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
    position: relative;
    z-index: 2;
    padding-right: 40px;
}
.ab-lead:after{
        position: absolute;
    content: '';
    border: 2px dashed #e1dee5;
    border-radius: 50%;
    left: 105px;
    top: -25px;
    width: 515px;
    height: 515px;
    z-index: -1;
}
.ab-lead img {
    height: 330px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: 50% 50%;
}
.right-inner-bx .year-box {
    background: #000;
    border-radius: 10px;
    padding: 50px 25px 25px;
    position: relative;
    max-width: 230px;
    overflow: hidden;
}
.right-inner-bx .year-box:after {
    content: '';
    position: absolute;
    height: 120px;
    width: 130px;
    background: url("../image/shape-35.png");
    top: -10px;
    background-repeat: no-repeat;
    background-position: right top;
    right: 0;
    transform: rotate(180deg);
    pointer-events: none;
}
.right-inner-bx .year-box h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding: 20px 0 0;
}
.right-inner-bx .year-box h3 .big {
    font-size: 50px;
    color: var(--orange-color);
    font-weight: 700;
}
.right-inner-bx .year-box img {
    height: 45px;
    width: 45px;
    object-fit: contain;
}
.ab-lead .ratio-box {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,10%);
    padding: 20px;
    margin: 20px 0 0;
}
.ab-lead .ratio-box h4 {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
.ab-lead .ratio-box p {
    font-size: 30px;
    font-weight: 700;
    color: var(--orange-color);
    margin: 10px 0 0;
}
.ab-lead .ratio-box span {
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.company-story .content-wrap {
    max-width: 550px;
    margin-left: auto;
}
.company-story .content-wrap h3 {
    font-weight: 700;
    color: #000;
    margin: 0 0 15px;
    font-size: 44px;
    line-height: 54px;
}
.company-story .content-wrap p {
    font-size: 16px;
    line-height: 30px;
}
.our-core-values {
    background: #ededed;
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}
.our-core-values .content-wrap h3 {
    font-size: 44px;
    font-weight: 600;
    color: #000;
}
.our-core-values .content-wrap  {
    text-align: center;
}
.our-core-values .content-wrap p {
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
    color: #000;
}
.our-core-values .core-bx {
    background: #fff;
    border-bottom: solid 4px var(--orange-color);
    border-radius: 10px;
    padding: 100px 30px 30px;
    position: relative;
    overflow: hidden;
}
.our-core-values .core-bx  .icon i {
    height: 90px;
    background: #eb7b00;
    width: 90px;
    color: #fff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    font-size: 35px;
    top: 0;
}
.our-core-values .core-bx h4 {
    font-size: 26px;
    color: #000;
    margin: 19px 0 6px;
}
.our-core-values .core-bx p {
    font-size: 16px;
    line-height: 26px;
    color: #000;
}
.value-boxs-row {
    padding-top: 40px;
}
.our-team.inner {
    padding-top: 0;
    padding-bottom: 0;
}
.our-team{
    padding-top: 80px;
    padding-bottom: 30px;
}
.our-team .content-wrap{
    text-align: center;
}
.our-team .content-wrap p {
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
    color: #000;
}
.our-team .content-wrap h3 {
    font-size: 44px;
    font-weight: 600;
    color: #000;
    text-align: center;

}
.team-box {
    background: #eee;
    border: solid 1px #eee;
    border-radius: 10px;
    overflow: hidden;
    transition: ease-in all 0.2s;
}
.team-box:hover .tm-im img {
    clip-path: none;
    border-radius: 0px;
      -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.team-box .tm-im img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    clear: both;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-radius: 0px 0px 0px 20px;
    transition: ease-in all 0.2s;
        -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.team-box .content {
    padding: 10px 20px 20px;
    text-align: center;
}
.team-box .content h4 {
    font-size: 22px;
    color: #000;
        padding: 0 0 10px;
}
.team-box .content p {
    font-size: 16px;
    line-height: 25px;
}
.team-box ul {
    display: flex;
    gap: 20px;
    padding: 10px 0 0;
    justify-content: center;
    align-items: center;
}
.team-box ul li{
   list-style: none;
}
.team-box ul li a{
    font-size: 20px;
}
.team-box ul li a:hover {
    color: var(--orange-color);
}

/*faq*/

.faq-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.faq-page .accordion-item {
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 5px;
}

.faq-page .accordion-item .accordion-item-description-wrapper hr {
  border: none;
  border-top: 1px solid var(--border-color);
  visibility: visible;
}

.faq-page .accordion-item.open .accordion-item-description-wrapper hr {
  visibility: visible;
}

.faq-page .accordion-item .accordion-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}

.faq-page .accordion-item .accordion-item-header .accordion-item-header-title {
    font-weight: 600;
    font-size: 20px;
    color: #000;
}
.faq-page .accordion-item .accordion-item-header .accordion-item-header-icon {
  transition: var(--transition);
}

.faq-page
  .accordion-item.open
  .accordion-item-header
  .accordion-item-header-icon {
  transform: rotate(-180deg);
}

.faq-page .accordion-item .accordion-item-description-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: var(--transition);
}

.faq-page .accordion-item.open .accordion-item-description-wrapper {
  grid-template-rows: 1fr;
}

.faq-page
  .accordion-item
  .accordion-item-description-wrapper
  .accordion-item-description {
  min-height: 0;
}

.faq-page
  .accordion-item
  .accordion-item-description-wrapper
  .accordion-item-description
  p {
    padding: 0 10px 10px;
    line-height: 26px;
    font-size: 16px;
}


.disclaimer-content p{
    font-size: 16px;
    line-height: 28px;
    color: #000;
}
.disclaimer-content h3,.disclaimer-content h4,.disclaimer-content h5,.disclaimer-content h6 {
    color: #000;
    margin: 15px 0;
    font-size: 22px;
        line-height: 30px;
}
.trading-school p {
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 15px 0 0;
}
.trading-school-inner p {
    font-size: 16px;
    color: #000;
    line-height: 30px;
        font-weight: normal;
}
.trading-school-inner ul li{
    list-style: none;
}
.trading-school-inner ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    padding: 0;
}
.trading-school-inner ul li a{
    font-size: 18px;
    font-weight: 500;
    padding: 6px 0;
    color: var(--orange-color);
}
.trading-school-inner .wpb_wrapper p b {
    display: block;
    font-size: 26px;
    padding: 20px 0;
    color: #000;
}
.trading-school-inner .wpb_wrapper p:nth-child(even), .trading-school-inner .wpb_wrapper p:nth-child(odd) {
    padding: 0 0 20px;
}
.powered-by.copy-rt .inner-copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
/*report trade page css*/
.stock-report-block {
    padding-top: 270px;
}
.stock-report-block .four-trade {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
    gap: 40px;
}
.stock-report-block .wow {
    color: #000000;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 50px;
    margin: 0 0 26px;
}
.stock-report-block ul li.wow {
    font-size: 18px;
    list-style: outside none none;
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
    color: #000;
    background: #fff;
    box-shadow: 0px 0px 103px 0px rgb(0 0 0 / 10%);
    padding: 20px;
    border-radius: 6px;
    display: block;
    font-weight: 500;
    line-height: 26px;
}
.stock-report-block .wow span {
    color: #eb7b00;
}
.stock-report-block ul{
    padding: 0;
}
.stock-report-block ul li.wow  i {
    margin-right: 15px;
}
.stock-report-block .chart-report{
    background: #eee;
    padding: 30px;
}
.stock-report-block .goog-report {
    padding: 0 0 20px;
}
.stock-report-block .wso-graph-mt {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
    gap: 40px;
}
.chart-report img {
    margin-bottom: 10px;
}

/*thank you*/
.thank-you {
    min-height: 610px;
}.thank-you p span{
    font-size: 22px;
    font-weight: 500;
    display: block;
        line-height: 40px;
}
.thank-you p {
    font-size: 16px;
    color: #fff;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 15px 0 0 ;
    line-height: 28px;
}
.promotin-inner {
    margin: 0 auto;
    border: solid 1px #eee;
    margin-top: 50px;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    max-width: 1050px;
}
.promotin-inner .img-rw {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
}
.promotin-inner  .img-rw li{
    list-style: none;
}
.promotin-inner p {
    font-size: 18px;
    line-height: 34px;
    color: #000;
}
.promotin-inner h3 {
    font-size: 28px;
    color: #000;
    font-weight: 600;
}
.promotin-inner p span {
    color: #eb7b00;
    font-weight: 600;
}

form#stock-search {
    display: flex;
    border: solid 2px #000;
    background: #fff;
    padding: 1px;
    height: 50px;
}
form#stock-search .submit-symbol {
    background: #000 !important;
    color: #fff !important;
    font-size: 16px;
    font-weight: 300;
    padding: 6px;
    width: 150px;
}
form#stock-search .submit-symbol:hover {
    background: #000 !important;
    color: #fff !important;
    border-color: transparent;
}
form#stock-search #symbol {
    border: 0px;
    padding: 8px;
    font-size: 16px;
    width: 100%;
}

#unmuteButton {
  visibility: hidden;
}
.hero-sec .text-sec .prgr.sec span.undr {
    text-decoration: underline;
    color: #000;
}
.how-work .box-stock-row img{
    display: none;
}

.how-work .box-stock-row .fn-img,
.how-work .box-stock-row .cr-img,
.how-work .box-stock-row .thz-img,
.how-work .box-stock-row .btl-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 9999;
    left: 0;
}
.how-work .box-stock-row .box-inner.fn:hover .fn-img {
    display: block;
}
.how-work .box-stock-row .box-inner.cr:hover .cr-img {
    display: block;
}
.how-work .box-stock-row .box-inner.thz:hover .thz-img {
    display: block;
}
.how-work .box-stock-row .box-inner.btl:hover .btl-img {
    display: block;
}

.contact-form {
    background: #fff;
    max-width: 800px;
    margin: 0 auto;
    border: solid 1px #eee;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 20px 30px #e8e8e8;
}
.contact-form input,.contact-form textarea {
    width: 100%;
    background: #fff;
    margin-top: 8px;
    padding: 10px 15px;
    border: 1px solid #ececec;
    font-size: 16px;
    color: #000;
    margin: 0;
}
.contact-form textarea{
    height: 130px;
}
.contact-form label {
    font-size: 16px;
    text-transform: capitalize;
    margin: 0;
    color: #000;
}
.contact-form .half {
    padding: 0 0 15px;
}
.contact-form .half.full input {
    background: #000 !important;
    color: #fff !important;
    font-family: 'Poppins' !important;
    font-weight: 400;
}
section.what-join-repo {
    padding: 50px 0;
}
/*second-chance*/
.second-chance .video-desktop video {
    position: absolute;
    height: 63%;
    left: 12px;
    width: 76%;
    top: 40px;
}
.second-chance .hero-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: start;
}
.second-chance .view-dektop-box {
    position: relative;
}
.second-chance .heading {
    font-size: 40px;
    color: var(--black-color);
    line-height: 56px;
    font-weight: bold;
    padding: 0 0 20px;
}
.second-chance .text-sec .prgr {
    font-size: 16px;
    font-weight: 500;
    padding: 0px 0 12px;
    columns: var(--black-color);
    line-height: 30px;
}
.reason-sec .grid-box-reason {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}
.reason-sec {
    padding: 70px 0;
}
.reason-sec .grid-box-reason .box-inner {
       background: #f8f8f8;
    padding: 20px;
    border-radius: 4px;
    transition: all ease-in 0.2s;
}
.reason-sec .grid-box-reason .box-inner:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0, 10%);
}
.reason-sec h3,
.penny-sec h3,
.hrry-up h3 {
    font-size: 46px;
    font-weight: 600;
    padding: 0 0 30px;
        text-align: center;
}
.hrry-up{
    padding: 50px 0 0;
}
.hrry-up h3{
    padding: 0;
}
.hrry-up h3 span {
    color: var(--orange-color);
}
.reason-sec .grid-box-reason .box-inner .ds {
    font-size: 60px;
    line-height: 60px;
    opacity: 0.1;
    font-weight: 700;
    color: #000;
    padding-bottom: 10px;
    display: block;
}
.reason-sec .grid-box-reason .box-inner h4 {
    font-size: 22px;
    line-height: 30px;
    padding: 0 0 4px;
}
.penny-sec {
    padding: 70px 0;
}
.reason-sec .grid-box-reason .box-inner p {
    font-size: 16px;
    line-height: 28px;
    color: #000;
}
.penny-sec .grid-box-penny {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.penny-sec .grid-box-penny .box-inner .top-box{
    background: #eee;
    padding: 30px;
        position: relative;
    text-align: center;
}
.penny-sec .grid-box-penny .box-inner .ds {
    font-size: 35px;
    font-weight: 600;
    color: #000;
}
.penny-sec .grid-box-penny .box-inner p {
    font-size: 22px;
    color: #000;
}
.penny-sec .grid-box-penny .box-inner h4 {
    font-size: 50px;
    color: var(--orange-color);
    padding: 20px 0 10px;
    font-weight: 600;
        text-align: center;
    transition: all ease-in 0.2s;

}
.penny-sec .grid-box-penny .box-inner .top-box:after {
    content: '';
    background: #eee;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%) rotate(45deg);
}
.penny-sec .box-inner{
    transition: all ease-in 0.2s;

}
.penny-sec .box-inner:hover{
    background-color: #19123c;
}
.penny-sec .box-inner:hover h4{
    color: #fff;
}
.hrry-up .down-harry {
     max-width: 400px;
    margin: 0 auto;
    padding: 20px 0 0;
}
.trading-school-inner .wpb_wrapper img {
    display: block;
    text-align: center;
    margin: 10px auto 15px;
}
.sign-second {
    background: #000000d1 url(../image/Forex-Demo-Trading-Accounts.jpg);
    width: 100%;
    height: 100%;
    padding: 60px 0;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px 0 0;
    background-blend-mode: multiply;
}
.sign-second .row-sing {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sign-second .row-sing .left-sec {
    margin-top: -140px;
}
.sign-second .right-sec span {
    font-size: 22px;
    font-weight: 700;
    color: var(--orange-color);
}
.sign-second .right-sec h3 {
    font-size: 46px;
    font-weight: 600;
    color: #fff;
    line-height: 50px;
}
.sign-second .right-sec h4 {
    font-size: 18px;
    color: #fff;
    padding: 10px 0;
}

.sign-second .right-sec ul li {
    font-size: 16px;
    color: #fff;
        padding: 6px 0;
}
.trading-school-inner ul.points {
    padding-left: 30px;
    display: inherit;
}
.trading-school-inner {
    font-size: 16px;
}
.trading-school-inner ul.points li {
    font-size: 15px;
    padding: 5px 0;
    list-style: disc;
}
.error404 .site-main {
    padding: 230px 0 70px;
    text-align: center;
    max-width: 800px;
}

.error404 .site-main p.error,.error404 header.page-header.alignwide,.error404 .search-form {
    display: none;
}
.sign-second .row-sing ul{
    padding: 0 0 0 20px;
}
.client-slider .tss-meta-info {
    display: block;
}


/* signup */

#mobile_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    padding: 30px;
    max-width: 640px;
    margin: 40px auto 0 auto;
    background: #ffffffe6;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 10%);
  }

  #mobile_wrap #submitButton {
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    height: 163px;
    overflow: hidden;
    margin-top: 15px;
  }

  #mobile_wrap #mN,   #mobile_wrap #mNN {
    border: 2px solid #ccc;
    width: 90%;
    border-radius: 36px;
    padding: 15px 25px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 10px 25px #dbdbdb;
  }



  .hero-sec .text-sec .prgr.third a {
    color: blue;
  }

  .broker-img {
    display: flex;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
  }

  