.elementor-2889 .elementor-element.elementor-element-9f00d42{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:space-between;--gap:20px 20px;--row-gap:20px;--column-gap:20px;--overflow:hidden;--border-radius:10px 10px 10px 10px;box-shadow:0px 3px 6px 0px rgba(0, 0, 0, 0.16);--padding-top:30px;--padding-bottom:30px;--padding-left:30px;--padding-right:30px;}.elementor-2889 .elementor-element.elementor-element-9f00d42:not(.elementor-motion-effects-element-type-background), .elementor-2889 .elementor-element.elementor-element-9f00d42 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F6F8F9;}.elementor-2889 .elementor-element.elementor-element-f07fdb5{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-2889 .elementor-element.elementor-element-d4df05a{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:flex-start;--align-items:center;--gap:10px 10px;--row-gap:10px;--column-gap:10px;--flex-wrap:nowrap;--margin-top:0px;--margin-bottom:20px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-2889 .elementor-element.elementor-element-ed0a0b3{width:auto;max-width:auto;}.elementor-2889 .elementor-element.elementor-element-ed0a0b3 .jet-listing-dynamic-image{justify-content:flex-start;}.elementor-2889 .elementor-element.elementor-element-ed0a0b3 .jet-listing-dynamic-image__figure{align-items:flex-start;}.elementor-2889 .elementor-element.elementor-element-ed0a0b3 .jet-listing-dynamic-image a{display:flex;justify-content:flex-start;width:40px;}.elementor-2889 .elementor-element.elementor-element-ed0a0b3 .jet-listing-dynamic-image img{width:40px;border-radius:50% 50% 50% 50%;}.elementor-2889 .elementor-element.elementor-element-ed0a0b3 .jet-listing-dynamic-image__caption{text-align:left;}.elementor-2889 .elementor-element.elementor-element-c7e5dff{width:auto;max-width:auto;}.elementor-2889 .elementor-element.elementor-element-c7e5dff .elementor-heading-title{font-size:14px;line-height:1.4em;letter-spacing:0px;color:#428AB0;}.elementor-2889 .elementor-element.elementor-element-8849f2a{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--align-items:flex-start;--gap:20px 20px;--row-gap:20px;--column-gap:20px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-2889 .elementor-element.elementor-element-a4d5551{width:100%;max-width:100%;font-size:16px;line-height:1.5em;letter-spacing:2px;}.elementor-2889 .elementor-element.elementor-element-5d745b0{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:flex-start;--align-items:center;--gap:10px 10px;--row-gap:10px;--column-gap:10px;--flex-wrap:nowrap;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-2889 .elementor-element.elementor-element-b5cc105 .bdt-ep-advanced-image-gallery.bdt-grid{margin-left:-5px;}.elementor-2889 .elementor-element.elementor-element-b5cc105 .bdt-ep-advanced-image-gallery.bdt-grid > *{padding-left:5px;}.elementor-2889 .elementor-element.elementor-element-b5cc105 .bdt-ep-advanced-image-gallery-item .bdt-ep-advanced-image-gallery-inner, .elementor-2889 .elementor-element.elementor-element-b5cc105 .bdt-ep-advanced-image-gallery-thumbnail, .elementor-2889 .elementor-element.elementor-element-b5cc105 .bdt-ep-advanced-image-gallery .bdt-overlay, .elementor-2889 .elementor-element.elementor-element-b5cc105 .bdt-slider-container{border-radius:5px 5px 5px 5px;}.elementor-2889 .elementor-element.elementor-element-b5cc105 .bdt-navigation-prev i,
					.elementor-2889 .elementor-element.elementor-element-b5cc105 .bdt-navigation-next i{color:#C8DBE5;font-size:15px;}.elementor-2889 .elementor-element.elementor-element-b5cc105 .bdt-navigation-prev:hover i,
					.elementor-2889 .elementor-element.elementor-element-b5cc105 .bdt-navigation-next:hover i{color:#0C0380;}.elementor-2889 .elementor-element.elementor-element-b5cc105 .bdt-navigation-prev,
					.elementor-2889 .elementor-element.elementor-element-b5cc105 .bdt-navigation-next{background-color:#FFFFFF00;}.elementor-2889 .elementor-element.elementor-element-b5cc105 .bdt-navigation-prev:hover,
					.elementor-2889 .elementor-element.elementor-element-b5cc105 .bdt-navigation-next:hover{background-color:#FFFFFF00;}.elementor-2889 .elementor-element.elementor-element-b5cc105 .bdt-navigation-prev{margin-right:0px;left:-60px;}.elementor-2889 .elementor-element.elementor-element-b5cc105 .bdt-navigation-next{margin-left:0px;right:-60px;}@media(max-width:690px){.elementor-2889 .elementor-element.elementor-element-d4df05a{--flex-wrap:nowrap;}.elementor-2889 .elementor-element.elementor-element-c7e5dff{width:initial;max-width:initial;}.elementor-2889 .elementor-element.elementor-element-5d745b0{--flex-wrap:nowrap;}}@media(min-width:691px){.elementor-2889 .elementor-element.elementor-element-9f00d42{--width:100%;}.elementor-2889 .elementor-element.elementor-element-d4df05a{--width:100%;}.elementor-2889 .elementor-element.elementor-element-5d745b0{--width:100%;}}@media(max-width:770px) and (min-width:691px){.elementor-2889 .elementor-element.elementor-element-d4df05a{--width:100%;}.elementor-2889 .elementor-element.elementor-element-5d745b0{--width:100%;}}/* Start custom CSS for text-editor, class: .elementor-element-a4d5551 */.yscom
.elementor-widget-container
{
    max-height: 250px;
    height: 250px !important;
    overflow: auto !important;
    scrollbar-width: thin;
    scrollbar-color: #237096 #C8DBE5;
    scrollbar-track-color: #C8DBE5;
    padding-right: 10px;
    }

.yscom
.elementor-widget-container::-webkit-scrollbar 
{
    width: 7px !important;
    }

.yscom
.elementor-widget-container::-webkit-scrollbar-thumb 
{
    border-radius: 4px !important;
	background-color: #237096 !important;
	border: 1px solid slategrey !important;
    }
.yscom
.elementor-widget-container::-webkit-scrollbar-buttom
{
	border-radius: 4px !important;
	height:0px !important;
	display:none !important;
	}
.yscom
.elementor-widget-container::-webkit-scrollbar-track-piece
{
	background: #C8DBE5 !important;
    }
    
.yscom
.elementor-widget-container::-webkit-scrollbar-track
{
	box-shadow: transparent !important;
    }/* End custom CSS */
/* Start custom CSS for bdt-advanced-image-gallery, class: .elementor-element-b5cc105 */.ysgw .bdt-navigation-prev 
{
    padding: 0px !important;
    left: -15px !important;
}
.ysgw .bdt-navigation-next 
{
    padding: 0px !important;
    right: -15px !important;
}
.bdt-lightbox
{
    background: #00000054 !important;
    margin: auto !important;
}
.bdt-lightbox li
{
    margin: auto !important;
}
.bdt-lightbox li img
{
    height: 80%;
    padding: 20px;
    background: #fff;
    border: 10px !important;
}
.bdt-lightbox
.bdt-lightbox-button.bdt-slidenav
{
        background: #fff0 !important;
}
.bdt-lightbox-button.bdt-slidenav svg
{
    color: #0C0380 !important;
}
.bdt-lightbox-button.bdt-slidenav svg:hover
{
    color: #C8DBE5 !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-9f00d42 */.yscomout
{
    height: min-content;
}/* End custom CSS */