---
import BaseHead from "../components/BaseHead.astro";
import RedirectCode from "../components/RedirectCode.astro";
import PluginLoader, { type PluginConfig } from "../components/PluginLoader.astro";
import "../styles/global.css";
import type { HTMLAttributes } from "astro/types";

type PluginName = 'aos' | 'gsap' | 'animate' | 'swiper' | 'countup' | 'rellax';

export interface Props {
  title?: string;
  description?: string;
  plugins?: Record<string, PluginConfig>;
}

const { title = "Home", description = "Home",  plugins = {} } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <BaseHead title={title} description={description} />
    <PluginLoader plugins={plugins} />
    <RedirectCode />
  </head>
  <body>
      <slot />
  </body>
</html>
