---
import type { HTMLAttributes } from 'astro/types'
import type { PluginConfig } from '@/components/PluginLoader.astro'
import BaseHead from '@/components/BaseHead.astro'
import PluginLoader from '@/components/PluginLoader.astro'
import RedirectCode from '@/components/RedirectCode.astro'
import '@/styles/globals.css'

type PluginName = 'aos' | 'gsap' | 'animate' | 'swiper' | 'countup' | 'rellax'

export interface Props {
  title?: string
  description?: string
  plugins?: Record<string, PluginConfig>
  track?: boolean
}

const { title = 'Home', description = 'Home', plugins = {}, track = false } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <PluginLoader plugins={plugins} />
    <RedirectCode />
  </head>
  <body>
      <slot />
  </body>
</html>
